In [1]:
import pandas as pd
import numpy as np

In [59]:
monster_manuel = pd.read_csv('CSV_files/monsters.csv', sep=';')
xp_threshold = pd.read_csv('CSV_files/xp_threshold.csv', index_col=)

In [60]:
xp_threshold

    Level  Easy  Medium  Hard  Deadly
0       1    25      50    75     100
1       2    50     100   150     200
2       3    75     150   225     400
3       4   125     250   375     500
4       5   250     500   750    1100
5       6   300     600   900    1400
6       7   350     750  1100    1700
7       8   450     900  1400    2100
8       9   550    1100  1600    2400
9      10   600    1200  1900    2800
10     11   800    1600  2400    3600
11     12  1000    2000  3000    4500
12     13  1100    2200  3400    5100
13     14  1250    2500  3800    5700
14     15  1400    2800  4300    6400
15     16  1600    3200  4800    7200
16     17  2000    3900  5900    8800
17     18  2100    4200  6300    9500
18     19  2400    4900  7300   10900
19     20  2800    5700  8500   12700

In [58]:
xp_thresholds.to_csv('CSV_files/xp_threshold.csv', index=False)

In [4]:
monster_manuel = monster_manuel.sort('Name')

/Users/MatthewBarnette/my_projects/.direnv/python-3.5.0/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':